<section class="about-me">
    <h2>About Me</h2>
    <p>
        I am a self taught programmer from a small town in northern Arizona. From a young age I became
        very intrested in computers. It started as asking my mom if I could take apart any broken items
        like phones or toys and has grown to teaching myself programming. My hobbies include reading,
        electronic hardware design, and learning to program.
    </p>
</section>
<section class="skills">
    <h2>Skills</h2>
</section>
<section class="projects">
    <ul>
        <li>Phonetic Alphabet Translator <a href="https://forestfish12.github.io/phoneticalphatranslator/">https://forestfish12.github.io/phoneticalphatranslator/</a></li>
    </ul>
</section>